.basic-item {
  background: #fff;
  padding: 40px;
  margin-bottom: 20px;
}
.basic-item p {
  margin-bottom: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.basic-item P::before {
  content: '';
  height: 15px;
  width: 4px;
  background: #4aa9f3;
  display: block;
  margin-right: 3px;
}
.basic-item .sns-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 300px;
  padding: 15px;
  border: 1px solid #f1f1f1;
  position: relative;
}
.basic-item .sns-item .anticon-close-circle {
  position: absolute;
  right: -11px;
  top: -10px;
  color: #C2C2C2;
  font-size: 24px;
  cursor: pointer;
}
.basic-item .snsadd {
  font-size: 36px;
  margin: 0 auto;
  cursor: pointer;
  color: #4486F7;
  display: block;
}
.Basic-main {
  padding-bottom: 130px;
}
