.addtab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}
.addtab i {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}
.addtab .order-ico-wanchengbuzhou {
  color: #4AAAF3;
}
.addtab .order-ico-zuofei {
  color: #BBBBBB;
}
.tab-span {
  display: flex;
  flex-wrap: wrap;
}
.tab-span span {
  min-width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background: #4aaaf3;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  margin-right: 3px;
}
.is-title {
  display: flex;
  align-items: center;
}
.is-view {
  margin-right: 5px;
  width: 44px;
  height: 20px;
  background: #f36d6d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
